html {
    scroll-behavior: smooth;
}
.section {
    position: relative;
    margin: auto;
    align-content: flex-end;
}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
p {
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
}
<<<<<<< HEAD

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-width: 400px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    opacity: .7;
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
    border-style: dashed;
    background-color: white;
}

#tag {
    display: block;
}



/* The device with borders */
.smartphone {
    position: relative;
    width: 360px;
    height: 640px;
    margin: auto;
    border: 16px black solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
  }
  
  /* The horizontal line on the top of the device */
  .smartphone:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
  }
  
  /* The circle on the bottom of the device */
  .smartphone:after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    bottom: -65px;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 50%;
  }
  
  /* The screen (or content) of the device */
  .smartphone .content {
    width: 360px;
    height: 640px;
    background: white;
  }
  /* Right column */
.rightcolumn {
    float: right;
    width: 25%;
    background-color: #f1f1f1;
    padding-left: 20px;
}
=======
.card-content {
    border-style: dotted;
}

.center {
    margin: auto;
    text-align: center;
}

>>>>>>> 19586be62972a2b3d927a948d08700af6fb69664
