html {
    scroll-behavior: smooth;
}
.section {
    position: relative;
    margin: auto;
    align-content: flex-end;
}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
p {
    font-family: 'Press Start 2P', cursive;
    font-size: 16px;
}
.card-content {
    border-style: dotted;
}

.center {
    margin: auto;
    text-align: center;
}

