html {
    scroll-behavior: smooth;
}
.content {
    max-width: 800px;
    margin: auto;
}
.center, h1 {
    text-align: center;
    margin: auto;
}
p {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
}
.pixel {
    font-family: 'Press Start 2P', cursive;
}

.card {
    transition: 0.3s;
    max-width: 400px;
    border: none;
}
.card img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.card:hover {
    opacity: .8;
}
.card-body {
    /* border-style: dashed; */
    background-color: whitesmoke;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.card-small {
    transition: 0.3s;
    max-width: 300px;
}
.card-small img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.card-small:hover {
    opacity: .8;
}
.section {
    padding: 30px;
}

.navbar {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

div.sticky {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}